<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{62,103}}</string>
                <key>offset</key>
                <string>{39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{62,103}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{74,89}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{74,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{74,89}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{74,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{74,89}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{74,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{78,85}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{78,85}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{76,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{76,93}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{64,99}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{64,99}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{62,101}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{62,101}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{58,83}}</string>
                <key>offset</key>
                <string>{43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,19},{58,83}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,89}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,13},{110,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{82,85}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{82,85}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{84,87}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{84,87}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{90,87}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{90,87}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{96,89}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{96,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{96,89}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{96,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{80,89}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{80,89}}</string>
                <key>sourceSize</key>
                <string>{150,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quanhuang.png</string>
            <key>size</key>
            <string>{1013,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9807890fcbcb8aad5777c7c1c2a4de:19dc14e3bbb28d23afe175f6d994a25d:5066297ef4e2b74f76c9e1b5f1ab8163$</string>
            <key>textureFileName</key>
            <string>quanhuang.png</string>
        </dict>
    </dict>
</plist>
